<!DOCTYPE html>
<html>
<head>
<title>Data</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="style.css">
<script src="script.js"></script>
</head>
<body>

<h1 class="card bg-light text-success"><b>Suicide Attack Data</b></h1>
		<nav class="navbar navbar-expand-sm teal-bg navbar-light">
		  <div class="container-fluid">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link" href="index.html">Home</a>
				  <li class="nav-item">
				 <a class="nav-link disabled" href="data.html">Data</a>
			  </li>
			</ul>
		  </div>
		</nav>
<br>
<p>The data in this JSON file tracks suicide attacks worldwide from 1982 to October 2020, offering a rich 
and comprehensive record of these incidents across multiple regions. It includes detailed information about 
each attack, such as the location, specific target, and the weapon used, as well as vital details about the 
attackers involved, including their identities, if available. The database compiles data from a variety of 
sources in different languages, ensuring a broad and diverse collection of over 4,800 attacks. For each entry,
 researchers can find key information such as the exact date of the attack, the group responsible (if known), 
 the type of weapon employed, the number of casualties (both killed and wounded), and further information 
 about the attackers, including gender and number of participants. This extensive resource is invaluable for 
 researchers and analysts, helping them to track the evolution of suicide attacks over time, identify patterns
 in attack strategies, and assess the broader impacts of these events on societies and regions across the 
 globe.</p>
 
 <h2>Links to external resources</h2>
	<ul>
		<li><a href="https://cpost.uchicago.edu/research/suicide_attacks/database_on_suicide_attacks/">The University of Chicago</a>
		<li><a href="https://digitalresource.center/content/evaluating-multiple-sources-who-verify-information">Digital Resource Center</a>
		<li><a href="https://www.rand.org/">Rand</a>
		<li><a href="https://github.com/liadkeller/Suicides-Data-Analysis-DSE200X">GitHub</a>
		<li><a href="https://www.who.int/news-room/fact-sheets/detail/suicide">World Health Organization</a>
		<li><a href="https://dadroit.com/">Dadroit</a>
		<li><a href="https://dbmstools.com/">DBMS Tools</a>
		<li><a href="https://blog.logrocket.com/">LogRocket</a>
		<li><a href="https://www.altova.com/">Altova</a>
		<li><a href="https://countly.com/">Countly</a>
 
	</ul>




</body>
</html>
